body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

.ellipsis {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#yasgui {
    height: 500px;
}

#timeline-embed {
    width: 100%;
    height: 70vh;
}

.info-cursor {
    cursor: help !important;
}

.drag-handle {
    cursor: move;
}

.word-wrap {
    word-wrap: break-word;
}

.edit-mode {
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
}

input[readonly], select[disabled], input[disabled] {
    background-color: transparent !important;
    border: none;                 
    outline: none;              
    box-shadow: none;     
    cursor: default;           
    color: inherit;            
}

input[readonly]:hover, select[disabled]:hover, input[readonly]:focus, select[disabled]:focus, input[disabled]:hover, input[disabled]:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.striked {
    text-decoration: line-through;
    color: gray;
}

.navbar, footer.bg-dark  {
    background-color: black !important;
}

