__pycache__
blazegraph.jnl
config.py
db_volumes/
*.pem
*.db
node_modules/
database/
prov_database/
cache.json
heritrace/static/dist/
.vscode/

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/
pytest-report.xml
coverage.xml
*.cover
.hypothesis/
nosetests.xml

# Virtuoso lock files
tests/test_dataset_db/virtuoso.lck
tests/test_provenance_db/virtuoso.lck
