[tool.poetry]
name = "edit-sphere"
version = "0.1.0"
description = "An environment for data modification"
authors = ["arcangelo7 <arcangelomas@gmail.com>"]
license = "ISC"
readme = "README.md"
packages = [{include = "edit_sphere"}]

[tool.poetry.dependencies]
python = "^3.10"
flask = "^2.3.3"
sparqlwrapper = "^2.0.0"
pyyaml = "^6.0.1"
flask-babel = "^3.1.0"
rdflib-ocdm = "^0.3.8"
validators = "0.20.0"
requests = "^2.31.0"
time-agnostic-library = "^4.4.1"
flask-wtf = "^1.1.1"
oc-ocdm = "7.3.1"
pyshacl = "0.23.0"
setuptools = "^68.2.2"
docker = "^7.1.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
