{% extends "_base.jinja" %}
{% block content %}

<style>
    .toggleSortDirection {
        font-size: 1rem;   
        border-radius: 0.25rem;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;     
    }
    .form-select-sm {
        font-size: 1rem;
    }
</style>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<h2 class="mb-4">{{_('Catalogue')}}</h2>

{% if available_classes %}
    {% set selected_class = selected_class or (available_classes[0].uri if available_classes|length > 0 else None) %}
    <div id="catalogue" 
        data-available-classes='{{ available_classes|tojson }}'
        data-selected-class="{{ selected_class }}"
        data-initial-page="{{ page }}"
        data-initial-per-page="{{ per_page }}"
        data-total-pages="{{ total_entity_pages }}"
        data-allowed-per-page="{{ allowed_per_page|tojson }}"
        data-sortable-properties="{{ sortable_properties|e }}"
        data-initial-sort-property="{{ current_sort_property if current_sort_property else '' }}"
        data-initial-sort-direction="{{ current_sort_direction }}"
        data-initial-entities='{{ initial_entities|tojson|e }}'
    ></div>
{% else %}
    <div class="alert alert-info">{{_('No data available')}}</div>
{% endif %}

{% endblock %}

{% block react_scripts %}
<script src="{{ url_for('static', filename='dist/catalogue.bundle.js') }}"></script>
{% endblock %}