{% macro render_triple(triple, subject) %}
    <li class="d-flex align-items-center">
        <span class="flex-grow-1 d-flex flex-column justify-content-center py-3 w-75">
            <span class="object-value word-wrap">
                {{ triple[2] | human_readable_predicate(subject_classes) }}
            </span>
        </span>
    </li>
{% endmacro %}

{% macro render_modification_triple(triple, subject) %}
    <li class="d-flex align-items-center">
        <span class="flex-grow-1 d-flex flex-column justify-content-center py-3 w-75">
            <strong>{{ triple[1] | human_readable_predicate(subject_classes[0]) }}:</strong>
            <span class="object-value word-wrap">
                {{ triple[2] | human_readable_predicate(subject_classes) }}
            </span>
        </span>
    </li>
{% endmacro %}

{% extends "_base.jinja" %}

{% block content %}

<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('about', subject=subject) }}"><em>{{subject | human_readable_entity(subject_classes)}}</em></a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('entity_history', entity_uri=subject) }}">{{_('History of <em>%(subject)s</em>', subject=subject | human_readable_entity(subject_classes))}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{_('Version %(version_number)s of <em>%(subject)s</em>', version_number=version_number, subject=subject | human_readable_entity(subject_classes))}}</li>
</ol>
</nav>

<h2 class="mb-4 word-wrap">{{_('Version')}} {{ version_number }} {{_('of')}} <span title="{{subject | human_readable_entity(subject_classes)}}"><em>{{ subject | human_readable_entity(subject_classes) }}</em></span></h2>

<div class="row g-3 mb-4">
    <div class="col-6">
        <a href="{{ url_for('entity_history', entity_uri=subject) }}" class="btn btn-outline-primary w-100" id="historyBtn">
            <i class="bi bi-clock-history me-2"></i> {{_('Time Machine')}}
        </a>    
    </div>
    
    <div class="col-6">
        {% if next_snapshot_timestamp %}
            <form action="{{ url_for('restore_version', entity_uri=subject, timestamp=timestamp) }}" method="post" id="restoreVersionBtn">
                <button type="submit" class="btn btn-outline-warning w-100">
                    <i class="bi bi-arrow-counterclockwise me-2"></i> {{ _('Restore this Version') }}
                </button>
            </form>
        {% endif %}    
    </div>
</div>

{% if grouped_triples %}

    {# Pulsanti per navigare tra gli snapshot #}
    <div class="row g-3 mb-4">
        <div class="col-6">
            {% if prev_snapshot_timestamp %}
                <a href="{{ url_for('entity_version', entity_uri=subject, timestamp=prev_snapshot_timestamp) }}" 
                   class="btn btn-outline-primary w-100 prevVersionBtn">
                    <i class="bi bi-arrow-left me-2"></i> {{ _('Previous version') }}
                </a>
            {% else %}
                <div class="invisible">
                    <a href="#" class="btn btn-outline-primary w-100">
                        <i class="bi bi-arrow-left me-2"></i> {{ _('Previous version') }}
                    </a>
                </div>
            {% endif %}
        </div>
        
        <div class="col-6">
            {% if next_snapshot_timestamp %}
                <a href="{{ url_for('entity_version', entity_uri=subject, timestamp=next_snapshot_timestamp) }}" 
                   class="btn btn-outline-primary w-100 nextVersionBtn">
                    {{ _('Next version') }} <i class="bi bi-arrow-right ms-2"></i>
                </a>
            {% else %}
                <div class="invisible">
                    <a href="#" class="btn btn-outline-primary w-100">
                        {{ _('Next version') }}<i class="bi bi-arrow-right ms-2"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row mb-5">
        {% for snapshot_uri, meta in metadata.items() %}
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-header">
                    {{_('Metadata of snapshot')}} {{ version_number }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>{{_('Generation time')}}:</strong> {{ meta['generatedAtTime'] | format_datetime }}</li>
                    {% if meta['invalidatedAtTime'] %}
                        <li class="list-group-item"><strong>{{_('Invalidation time')}}:</strong> {{ meta['invalidatedAtTime'] | format_datetime }}</li>
                    {% endif %}
                    <li class="list-group-item">
                        <strong>{{_('Attributed to')}}:</strong> 
                        {{ meta['wasAttributedTo'] | format_agent_reference | safe }}
                    </li>
                    {% if meta['hadPrimarySource'] %}
                        <li class="list-group-item">
                            <strong>{{_('Primary source')}}:</strong> 
                            {{ meta['hadPrimarySource'] | format_source_reference | safe }}
                        </li>
                    {% endif %}
                    {% if meta['description'] %}
                    <li class="list-group-item"><strong>{{_('Description')}}:</strong> {{ meta['description'] }}</li>
                    {% endif %}
                    {% if modifications %}
                    <li class="list-group-item">
                        {{ modifications }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    {% for display_name, data in grouped_triples.items() %}
        <div class="predicate-group mb-4">
            {% if data['triples'] %}
                <span class="fw-bold">{{ display_name | human_readable_predicate(subject_classes) }}</span>
                {% for triple_data in data['triples'] %}
                    {{ render_triple(triple_data['triple'], subject) }}
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

{% else %}
    <p class="alert alert-warning my-5">{{_('This snapshot does not exist')}}</p>
{% endif %}

{% endblock %}