{% set namespace_render_form_field = namespace(counter=0) %}

{% macro render_repeater_item(entity_type, prop, details, entity_types, form_fields, depth, unique_id_base, label, index=None, is_template=False, max_depth=5) %}
    <div data-repeater-item 
        class="input-group mb-3 ms-3 mt-3 {% if is_template %}d-none repeater-template{% endif %} {% if details.orderedBy %}draggable{% endif %}" 
        style="position: relative; padding-right: 3.5rem;" 
        data-predicate-uri="{{ details.uri }}" 
        data-depth="{{ depth }}" 
        data-shape="{{ details.nodeShape or '' }}"
        {% if details.intermediateRelation %}
            data-intermediate-relation="{{ details.intermediateRelation.class }}"
            data-connecting-property="{{ details.intermediateRelation.connectingProperty }}"
        {% endif %}
        {% if details.additionalProperties %}
            data-additional-properties='{{ details.additionalProperties | tojson }}'
        {% endif %}>
        <div class="d-flex align-items-center w-100 mb-2">
            {% if details.orderedBy %}
                <span class="drag-handle me-2" style="cursor: move;">☰</span>
            {% endif %}
            <div class="d-flex align-items-center flex-grow-1">
                {% set label_text = label or details.displayName or (prop | human_readable_predicate(entity_types, False)) %}
                <h6 class="mb-0 {% if depth == 0 %}form-label{% endif %}" data-original-text="{{ label_text }}">
                    {{ label_text }}
                </h6>
                {% if details.hasValue %}
                    <i class="bi bi-question-circle-fill ms-2 text-info mandatory-value-info" 
                       data-bs-toggle="tooltip" 
                       data-bs-placement="right"
                       title="{{ _('This property has a mandatory value that cannot be modified') }}"></i>
                {% endif %}
            </div>
        </div>
        {% if details.or %}
            <div class="container-selection w-75 mb-3">
                <select class="form-select container-type-selector" 
                        id="{{ unique_id_base }}_container_type"
                        name="{{ unique_id_base }}_container_type"
                        data-predicate-uri="{{ details.uri }}">
                    <option value="">{{ _('Select an option') }}</option>
                    {% for shape_info in details.or %}
                        <option value="{{ shape_info.shape }}" 
                                data-object-class="{{ shape_info.entityType }}"
                                data-node-shape="{{ shape_info.shape }}">
                            {{ shape_info.displayName or shape_info.entityType | human_readable_predicate(entity_types, False) }}
                        </option>
                    {% endfor %}
                </select>

                {# Container forms - one for each option #}
                <div class="container-forms d-none">
                    {% for shape_info in details.or %}
                        <div class="container-form d-none" data-shape="{{ shape_info.shape }}">
                            {{ render_form_field(shape_info.entityType, prop, shape_info, entity_types, form_fields, depth + 1, max_depth=max_depth, is_template=False) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% elif details.intermediateRelation %}
            <div class="d-flex flex-column newEntityPropertiesContainer">
                <div class="nested-form-header mb-4">
                    <button class="btn btn-outline-secondary btn-sm toggle-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}" aria-expanded="false" aria-controls="{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}">
                        <span id="{{ unique_id_base }}_toggle_icon_{{ index if index is not none else 'template' }}" class="bi bi-chevron-right"></span>
                    </button>
                </div>
                <div id="{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}" class="nested-form-container collapse" data-object-class="{{ details.intermediateRelation.targetEntityType }}">
                    {% for inter_prop, inter_details_list in details.intermediateRelation.properties.items() %}
                        {% for inter_details in inter_details_list %}
                            {{ render_form_field(details.intermediateRelation.targetEntityType, inter_prop, inter_details, entity_types, form_fields, depth + 1, max_depth, label=None, is_template=is_template) }}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% elif details.nestedShape %}
            <div class="d-flex flex-column newEntityPropertiesContainer">
                <div class="nested-form-header mb-4">
                    <button class="btn btn-outline-secondary btn-sm toggle-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}" aria-expanded="false" aria-controls="{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}">
                        <span id="{{ unique_id_base }}_toggle_icon_{{ index if index is not none else 'template' }}" class="bi bi-chevron-right"></span>
                    </button>
                </div>
                <div id="{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}" class="nested-form-container collapse" data-object-class="{{ details.objectClass }}">
                    {% for nested_details in details.nestedShape %}
                        {% if nested_details.get('_reference') %}
                            <!-- Gestione del caso di riferimento, se necessario -->
                        {% else %}
                            {% set nested_display_name = nested_details.displayName or nested_details.objectClass | human_readable_predicate(entity_types, False) %}
                            {{ render_form_field(nested_details.entityType, nested_details.uri, nested_details, entity_types, form_fields, depth + 1, max_depth, nested_display_name, is_template=is_template) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% elif details.hasValue %}
            {# Mandatory value display #}
            <div class="newEntityPropertiesContainer w-75">
                <span class="flex-grow-1 d-flex flex-column justify-content-center p-3">
                    <div class="d-flex align-items-center">
                        <span style="margin-left: 0.75rem">{{ details.hasValue | human_readable_predicate(entity_types, False) }}</span>
                    </div>
                </span>
                <input type="hidden" 
                    name="{{ unique_id_base }}" 
                    data-value="{{ details.hasValue|safe }}"
                    data-predicate-uri="{{ details.uri }}"
                    data-depth="{{ depth }}"
                    data-mandatory-value="true">
            </div>
        {% elif details.optionalValues and details.optionalValues|length %}
            <div class="w-75 newEntityPropertiesContainer">
                <select class="form-select" id="{{ unique_id_base }}" name="{{ unique_id_base }}" data-predicate-uri="{{ details.uri }}">
                    {% for val in details.optionalValues %}
                        <option value="{{ val }}">{{ val | human_readable_predicate(entity_types, False) }}</option>
                    {% endfor %}
                </select>
            </div>
        {% elif details.datatypes and (
            'http://www.w3.org/2001/XMLSchema#date' in details.datatypes
            or 'http://www.w3.org/2001/XMLSchema#gYearMonth' in details.datatypes
            or 'http://www.w3.org/2001/XMLSchema#gYear' in details.datatypes) %}
            <!-- Date input section -->
            <div class="date-input-group newEntityPropertiesContainer">
                <div class="form-floating mb-2 mb-2 w-75 date-type-selector-container">
                    <select class="form-select date-type-selector"
                            id="{{ unique_id_base }}_date_type"
                            name="{{ unique_id_base }}_date_type"
                            data-allowed-datatypes="{{ details.datatypes | join(',') }}">
                        {% if 'http://www.w3.org/2001/XMLSchema#date' in details.datatypes %}
                            <option value="date">{{ _('Date') }}</option>
                        {% endif %}
                        {% if 'http://www.w3.org/2001/XMLSchema#gYearMonth' in details.datatypes %}
                            <option value="month">{{ _('Year and Month') }}</option>
                        {% endif %}
                        {% if 'http://www.w3.org/2001/XMLSchema#gYear' in details.datatypes %}
                            <option value="year">{{ _('Year') }}</option>
                        {% endif %}
                    </select>
                    <label for="{{ unique_id_base }}_date_type">{{ _('Select Date Type') }}</label>
                    <div class="invalid-feedback w-75"></div>
                </div>

                <!-- Date input -->
                {% if 'http://www.w3.org/2001/XMLSchema#date' in details.datatypes %}
                    <div class="date-input-container mb-2 w-75 d-none">
                        <input type="date" class="form-control date-input"
                            id="{{ unique_id_base }}_date"
                            name="{{ unique_id_base }}"
                            data-date-type="date"
                            data-predicate-uri="{{ details.uri }}"
                            data-depth="{{ depth }}"
                            data-datatypes="http://www.w3.org/2001/XMLSchema#date"
                            placeholder="{{ label_text }}"
                            {{ 'required' if details.min and details.min > 0 }}>
                        <div class="invalid-feedback w-75"></div>
                    </div>
                {% endif %}

                <!-- Month input -->
                {% if 'http://www.w3.org/2001/XMLSchema#gYearMonth' in details.datatypes %}
                    <div class="date-input-container mb-2 w-75 d-none">
                        <input type="month" class="form-control date-input"
                            id="{{ unique_id_base }}_month"
                            name="{{ unique_id_base }}"
                            data-date-type="month"
                            data-predicate-uri="{{ details.uri }}"
                            data-depth="{{ depth }}"
                            data-datatypes="http://www.w3.org/2001/XMLSchema#gYearMonth"
                            placeholder="{{ label_text }}"
                            {{ 'required' if details.min and details.min > 0 }}>
                        <div class="invalid-feedback w-75"></div>
                    </div>
                {% endif %}

                <!-- Year input -->
                {% if 'http://www.w3.org/2001/XMLSchema#gYear' in details.datatypes %}
                    <div class="date-input-container mb-2 w-75 d-none">
                        <input type="number" class="form-control date-input"
                            id="{{ unique_id_base }}_year"
                            name="{{ unique_id_base }}"
                            data-date-type="year"
                            data-predicate-uri="{{ details.uri }}"
                            data-depth="{{ depth }}"
                            data-datatypes="http://www.w3.org/2001/XMLSchema#gYear"
                            placeholder="{{ label_text }}"
                            min="1000" max="9999"
                            {{ 'required' if details.min and details.min > 0 }}>
                        <div class="invalid-feedback w-75"></div>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="flex-grow-1 newEntityPropertiesContainer">
                {% if details.inputType == "textarea" %}
                    <div class="position-relative w-75">
                        <textarea 
                            class="form-control"
                            id="{{ unique_id_base }}_{{ index if index is not none else 'template' }}"
                            name="{{ unique_id_base }}_{{ index if index is not none else 'template' }}"
                            data-predicate-uri="{{ details.uri }}"
                            data-depth="{{ depth }}"
                            {% if details.conditions %}
                                data-conditions='{{ details.conditions | tojson | safe }}'
                            {% endif %}
                            placeholder="{{ label_text }}"
                            {% if not is_template and details.min and details.min > 0 %}
                                required
                            {% endif %}
                            {% if details.datatypes and details.datatypes | length %}
                                data-datatypes="{{ details.datatypes | join(',') }}"
                            {% endif %}
                            rows="5"
                        ></textarea>
                    </div>
                {% else %}
                    <div class="position-relative w-75">
                        <input 
                            type="{{ details.inputType or 'text' }}"
                            class="form-control"
                            id="{{ unique_id_base }}_{{ index if index is not none else 'template' }}"
                            name="{{ unique_id_base }}_{{ index if index is not none else 'template' }}"
                            data-predicate-uri="{{ details.uri }}"
                            data-depth="{{ depth }}"
                            {% if details.conditions %}
                                data-conditions='{{ details.conditions | tojson | safe }}'
                            {% endif %}
                            placeholder="{{ label_text }}"
                            {% if not is_template and details.min and details.min > 0 %}
                                required
                            {% endif %}
                            {% if details.datatypes and details.datatypes | length %}
                                data-datatypes="{{ details.datatypes | join(',') }}"
                            {% endif %}
                            {% if details.inputType == "number" %}
                                step="any"
                            {% endif %}
                        >
                    </div>
                {% endif %}
                <div class="invalid-feedback w-75"></div>
            </div>
        {% endif %}

        {% if not details.hasValue %}
            <button data-repeater-delete type="button" class="btn repeater-delete-btn btn-outline-danger me-4">
                <i class="bi bi-trash"></i>
            </button>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_form_field(entity_type, prop, details, entity_types, form_fields, depth=0, max_depth=5, label=None, is_template=False) %}
    {% if depth <= max_depth %}
        {% set namespace_render_form_field.counter = namespace_render_form_field.counter + 1 %}
        {% set unique_id_base = (entity_type | human_readable_predicate(entity_types, False) | replace(" ", "_") + "_" + prop | human_readable_predicate(entity_types, False) | replace(" ", "_") | string) + "_" + namespace_render_form_field.counter | string  %}

        <div data-repeater-list="{{ unique_id_base }}" data-class="{{ details.entityType }}" data-object-class="{{ details.objectClass }}" data-max-items="{{ details.max }}" data-min-items="{{ details.min }}"
            {% if details.orderedBy %}data-ordered-by="{{ details.orderedBy }}"{% endif %}
            data-uri="{{ details.uri }}" data-depth="{{ depth }}" data-shape="{{ details.nodeShape or '' }}"
            data-container-display-name="{{ details.displayName }}"
            data-display-name="{{ entity_type | human_readable_predicate(entity_types, False) }}">

            <!-- Template nascosto per elementi opzionali -->
            {{ render_repeater_item(entity_type, prop, details, entity_types, form_fields, depth, unique_id_base, label, is_template=True, max_depth=max_depth) }}

            <!-- Pulsante per aggiungere nuovi elementi -->
            <div class="my-3 text-start" data-repeater-create>
                <button type="button" class="add-button {% if details.min > 0 %}initial-structure-add{% endif %}">
                    <i class="bi bi-plus-circle"></i>
                    {{ _("Add %(element_type)s", element_type=details.displayName or (prop | human_readable_predicate(entity_types, False))) }}
                </button>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_triple(triple, subject, externalEntity, isDraggable, object, orderedBy, unique_id, grouped_triples_data, display_name) %}
    {% set shape = grouped_triples_data.get('shape') %}
    <div data-repeater-item class="input-group d-flex align-items-center property-value {{ 'draggable' if isDraggable else '' }}" 
        data-subject-id="{{ subject }}" 
        data-property-id="{{ triple[1] }}" 
        data-old-object-id="{{ object }}" 
        data-ordered_by="{{ orderedBy }}"
        data-shape="{{ shape }}"
        data-depth="0">
        <span class="tripleObject flex-grow-1 d-flex flex-column justify-content-center p-3">
            {% if externalEntity %}
                {% if isDraggable %}
                    <div class="d-flex align-items-center w-100 mb-2 drag-handle">
                        <span class="me-2 d-none">☰</span>
                        <h6 class="mb-0 flex-grow-1 form-label d-none" data-original-text="{{ display_name }}">{{ display_name }}</h6>
                    </div>
                    <span style="margin-left: .75rem;">
                        <a href="{{url_for('about', subject=externalEntity)}}" 
                           data-bs-toggle="tooltip" 
                           data-bs-placement="top" 
                           title="{{_('Redirection to the entity %(entity)s', entity=externalEntity)}}">
                            {{ triple[2] | human_readable_predicate(subject_classes) }}
                        </a>
                    </span>
                {% else %}
                    <span style="margin-left: .75rem;">
                        <a href="{{url_for('about', subject=externalEntity)}}"
                           data-bs-toggle="tooltip" 
                           data-bs-placement="top" 
                           title="{{_('Redirection to the entity %(entity)s', entity=externalEntity)}}">
                            {{ triple[2] | human_readable_predicate(subject_classes) }}
                        </a>
                    </span>
                {% endif %}
            {% else %}
                {% if shacl and triple[1] in mandatory_values and triple[2] in mandatory_values[triple[1]] %}
                    <div class="d-flex align-items-center">
                        <span style="margin-left: 0.75rem">{{ triple[2] | human_readable_predicate(subject_classes) }}</span>
                        <i class="bi bi-question-circle-fill ms-2 text-info" 
                           data-bs-toggle="tooltip" 
                           data-bs-placement="right"
                           title="{{ _('This property has a mandatory value that cannot be modified') }}"></i>
                    </div>
                {% elif shacl and optional_values[triple[1]] %}
                    <div class="w-75">
                        <select name="new_value" class="form-select editable-select d-none">
                            {% for value in optional_values[triple[1]] %}
                                <option value="{{ value }}" {% if value == triple[2] %}selected{% endif %}>{{ value | human_readable_predicate(subject_classes) }}</option>
                            {% endfor %}
                        </select>
                        <span class="select-value-display" id="display_value_{{ unique_id }}" style="margin-left: .75rem;">{{ triple[2] | human_readable_predicate(subject_classes) }}</span>
                    </div>
                {% elif 'http://www.w3.org/2001/XMLSchema#date' in datatypes.get(triple[1], []) or 'http://www.w3.org/2001/XMLSchema#gYearMonth' in datatypes.get(triple[1], []) or 'http://www.w3.org/2001/XMLSchema#gYear' in datatypes.get(triple[1], []) %}
                    <div class="date-input-group" data-original-value="{{ triple[2] }}">
                        <div class="form-floating mb-2 w-75 date-type-selector-container d-none">
                            <select class="form-control date-type-selector"
                                    id="{{ unique_id }}_date_type"
                                    name="{{ unique_id }}_date_type"
                                    data-allowed-datatypes="{{ datatypes.get(triple[1], [])|join(',') }}">
                                {% if 'http://www.w3.org/2001/XMLSchema#date' in datatypes.get(triple[1], []) %}
                                    <option value="date" {% if triple[2]|length == 10 %}selected{% endif %}>{{ _('Date') }}</option>
                                {% endif %}
                                {% if 'http://www.w3.org/2001/XMLSchema#gYearMonth' in datatypes.get(triple[1], []) %}
                                    <option value="month" {% if triple[2]|length == 7 %}selected{% endif %}>{{ _('Year and Month') }}</option>
                                {% endif %}
                                {% if 'http://www.w3.org/2001/XMLSchema#gYear' in datatypes.get(triple[1], []) %}
                                    <option value="year" {% if triple[2]|length == 4 %}selected{% endif %}>{{ _('Year') }}</option>
                                {% endif %}
                            </select>
                            <label for="{{ unique_id }}_date_type">{{ _('Select Date Type') }}</label>
                            <div class="invalid-feedback w-75"></div>
                        </div>
                        
                        <div class="date-input-container d-none w-75">
                            <input type="date" class="form-control editable-field date-input"
                                data-date-type="date"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#date"
                                {% if triple[2]|length == 10 %}value="{{ triple[2] }}"{% endif %}
                                id="new_value_{{ unique_id }}_date">
                        </div>
                        <div class="date-input-container d-none w-75">
                            <input type="month" class="form-control editable-field date-input"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#gYearMonth"
                                data-date-type="month"
                                {% if triple[2]|length == 7 %}value="{{ triple[2] }}"{% endif %}
                                id="new_value_{{ unique_id }}_month">
                        </div>
                        <div class="date-input-container d-none w-75">
                            <input type="number" class="form-control editable-field date-input"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#gYear" 
                                data-date-type="year"
                                {% if triple[2]|length == 4 %}value="{{ triple[2] }}"{% endif %}
                                id="new_value_{{ unique_id }}_year"
                                min="1000" max="9999">
                        </div>
                        <div class="date-display-container">
                            <span class="date-display">{{ triple[2] }}</span>
                        </div>
                    </div>
                {% else %}
                    {% set key = (triple[1], entity_type, shape) %}
                    {% if predicate_details_map.get(key) %}
                        {% set details = predicate_details_map.get(key) %}
                        {% if details.inputType == "textarea" %}
                            <textarea 
                                class="form-control editable-field w-75"
                                readonly
                                id="new_value_{{ unique_id }}"
                                rows="5"
                            >{{ triple[2] }}</textarea>
                        {% else %}
                            <input 
                                type="{{ details.inputType or 'text' }}"
                                class="form-control editable-field w-75"
                                value="{{ triple[2] }}"
                                readonly
                                id="new_value_{{ unique_id }}"
                                {% if details.inputType == "number" %}
                                    step="any"
                                {% endif %}
                            >
                        {% endif %}
                    {% else %}
                        {{ update_form.new_value(class="form-control editable-field w-75", value=triple[2], readonly=true, id="new_value_" ~ unique_id) }}
                    {% endif %}
                {% endif %}
            {% endif %}
        </span>
        <div class="align-self-start">
            <div class="d-flex flex-column flex-sm-row">
                {% if externalEntity %}
                    <a class="btn btn-outline-primary mx-2 mt-3" 
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       title="{{_('Redirection to the entity %(entity)s', entity=externalEntity)}}"
                       href="{{url_for('about', subject=externalEntity)}}">
                        <i class="bi bi-arrow-right-square"></i>
                    </a>
                {% endif %}
                {% if shacl and not (triple[1] not in can_be_deleted or (triple[1] in mandatory_values and triple[2] in mandatory_values[triple[1]])) %}
                    <div class="d-flex align-items-center">
                        <button class="btn btn-outline-danger delete-button mt-3 mx-2"
                                style="display: none;"
                                data-subject="{{ subject }}" 
                                data-predicate="{{ triple[1] }}" 
                                data-object="{{ externalEntity if externalEntity else triple[2] }}">
                        <i class="bi bi-trash"></i>
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}