{% set namespace_render_form_field = namespace(counter=0) %}

{% macro render_repeater_item(entity_type, prop, details, form_fields, depth, unique_id_base, index=None, is_template=False, max_depth=5) %}
    <div data-repeater-item 
        class="input-group mb-3 mt-3 {% if is_template %}d-none repeater-template{% endif %} {% if details.orderedBy %}draggable{% endif %}" 
        style="position: relative;" 
        data-predicate-uri="{{ details.uri }}" 
        data-depth="{{ depth }}" 
        data-shape="{{ details.nodeShape or '' }}"
        {% if details.intermediateRelation %}
            data-intermediate-relation="{{ details.intermediateRelation.class }}"
            data-connecting-property="{{ details.intermediateRelation.connectingProperty }}"
            data-target-entity-type="{{ details.intermediateRelation.targetEntityType }}"
            data-target-shape="{{ details.intermediateRelation.targetShape }}"
        {% endif %}
        {% if details.additionalProperties %}
            data-additional-properties='{{ details.additionalProperties | tojson }}'
        {% endif %}>
        <div class="d-flex align-items-baseline w-100 mb-2">
            {% if details.orderedBy %}
                <span class="drag-handle me-2" style="cursor: move;">☰</span>
            {% endif %}
            <div class="d-flex align-items-start flex-grow-1">
                <h6 class="{% if depth == 0 %}form-label{% endif %}" data-original-text="{{ details.displayName }}">
                    {{ details.displayName }}
                    {% if details.min and details.min > 0 and not details.hasValue %}
                        <span class="text-danger ms-1" 
                              data-bs-toggle="tooltip" 
                              data-bs-placement="top"
                              title="{{ _('This field is required') }}">*</span>
                    {% endif %}
                </h6>
                {% if details.hasValue %}
                    <i class="bi bi-question-circle-fill ms-2 text-info mandatory-value-info" 
                       data-bs-toggle="tooltip" 
                       data-bs-placement="right"
                       title="{{ _('This property has a mandatory value that cannot be modified') }}"></i>
                {% endif %}
            </div>
        </div>
        {% if details.or %}
            <div class="d-flex flex-row justify-content-between align-items-start w-100">
                <select class="form-select container-type-selector w-75" 
                        id="{{ unique_id_base }}_container_type"
                        name="{{ unique_id_base }}_container_type"
                        data-predicate-uri="{{ details.uri }}"
                        data-predicate-label="{{ details.displayName }}">
                    <option value="">{{ _('Select an option') }}</option>
                    {% for shape_info in details.or %}
                        <option value="{{ shape_info.nodeShape }}" 
                                data-object-class="{{ shape_info.entityType }}"
                                data-node-shape="{{ shape_info.nodeShape }}">
                            {{ shape_info.displayName or ((shape_info.entityType, shape_info.nodeShape) | human_readable_class) }}
                        </option>
                    {% endfor %}
                </select>

                {% if not details.min > 0 %}
                    <button data-repeater-delete type="button" class="btn btn-sm repeater-delete-btn btn-outline-danger">
                        <i class="bi bi-trash me-1"></i> {{ _('Delete') }}
                    </button>
                {% endif %}
            </div>
            <div class="container-forms d-none w-100">
                {% for shape_info in details.or %}
                    <div class="container-form d-none" data-shape="{{ shape_info.nodeShape }}" data-class="{{ shape_info.entityType }}">
                        {{ render_form_field(shape_info.entityType, prop, shape_info, form_fields, depth, max_depth=max_depth, is_template=is_template) }}
                    </div>
                {% endfor %}
            </div>
        {% elif details.intermediateRelation %}
            <div class="d-flex flex-column newEntityPropertiesContainer w-100">
                <div class="d-flex flex-row justify-content-between nested-form-header mb-4">
                    <button class="btn btn-outline-secondary btn-sm toggle-btn collapsed collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}" aria-expanded="false" aria-controls="{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}">
                        <span id="{{ unique_id_base }}_toggle_icon_{{ index if index is not none else 'template' }}" class="bi bi-chevron-right"></span>
                    </button>
                    {% if not details.min > 0 %}
                        <button data-repeater-delete type="button" class="btn btn-sm repeater-delete-btn btn-outline-danger">
                            <i class="bi bi-trash me-1"></i> {{ _('Delete') }}
                        </button>
                    {% endif %}
                </div>
                <div id="{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}" class="nested-form-container collapse" data-object-class="{{ details.intermediateRelation.targetEntityType }}">
                    {% for inter_prop, inter_details_list in details.intermediateRelation.properties.items() %}
                        {% for inter_details in inter_details_list %}
                            {{ render_form_field(details.intermediateRelation.targetEntityType, inter_prop, inter_details, form_fields, depth + 1, max_depth, is_template) }}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% elif details.nestedShape %}
            <div class="d-flex flex-column newEntityPropertiesContainer w-100">
                <div class="d-flex flex-row justify-content-between nested-form-header mb-4">
                    <button class="btn btn-outline-secondary btn-sm toggle-btn collapsed collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}" aria-expanded="false" aria-controls="{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}">
                        <span id="{{ unique_id_base }}_toggle_icon_{{ index if index is not none else 'template' }}" class="bi bi-chevron-right"></span>
                    </button>
                    {% if not details.min > 0 %}
                        <button data-repeater-delete type="button" class="btn btn-sm repeater-delete-btn btn-outline-danger">
                            <i class="bi bi-trash me-1"></i> {{ _('Delete') }}
                        </button>
                    {% endif %}
                </div>
                <div id="{{ unique_id_base }}_nested_form_{{ index if index is not none else 'template' }}" class="nested-form-container collapse" data-object-class="{{ details.objectClass }}">
                    {% for nested_details in details.nestedShape %}
                        {{ render_form_field(nested_details.entityType, nested_details.uri, nested_details, form_fields, depth + 1, max_depth, is_template=is_template) }}
                    {% endfor %}
                </div>
            </div>
        {% elif details.hasValue %}
            {# Mandatory value display #}
            <div class="newEntityPropertyContainer w-100">
                <span class="flex-grow-1 d-flex flex-column justify-content-center">
                    <div class="d-flex align-items-center">
                        {% if details.uri == 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type' %}
                            {# Qui ci vuole None in human_readable_class perché la shape non è quella 
                            del soggetto ma quella associata alla classe e lo stesso soggetto potrebbe 
                            avere più classi con più shape #}
                            <p style="margin-left: 0.75rem">{{ (details.hasValue, None) | human_readable_class }}</p>
                        {% else %}
                            <p style="margin-left: 0.75rem">{{ details.hasValue | human_readable_predicate((details.subjectClass, details.subjectShape)) }}</p>
                        {% endif %}
                    </div>
                </span>
                <input type="hidden" 
                    name="{{ unique_id_base }}" 
                    data-value="{{ details.hasValue|safe }}"
                    data-predicate-uri="{{ details.uri }}"
                    data-predicate-label="{{ details.displayName }}"
                    data-depth="{{ depth }}"
                    data-mandatory-value="true">
            </div>
        {% elif details.optionalValues and details.optionalValues|length %}
            <div class="newEntityPropertyContainer w-75">
                <select class="form-select" id="{{ unique_id_base }}" name="{{ unique_id_base }}" data-predicate-uri="{{ details.uri }}">
                    {% for val in details.optionalValues %}
                        <option value="{{ val }}">{{ val | human_readable_predicate((details.subjectClass, details.subjectShape)) }}</option>
                    {% endfor %}
                </select>
            </div>
        {% elif details.datatypes and (
            'http://www.w3.org/2001/XMLSchema#date' in details.datatypes
            or 'http://www.w3.org/2001/XMLSchema#gYearMonth' in details.datatypes
            or 'http://www.w3.org/2001/XMLSchema#gYear' in details.datatypes) %}
            <div class="d-flex flex-row justify-content-between align-items-start w-100">
                <!-- Date input section -->
                <div class="date-input-group newEntityPropertyContainer w-100">
                    <div class="form-floating mb-2 mb-2 w-75 date-type-selector-container">
                        <select class="form-select date-type-selector"
                                id="{{ unique_id_base }}_date_type"
                                name="{{ unique_id_base }}_date_type"
                                data-allowed-datatypes="{{ details.datatypes | join(',') }}">
                            {% if 'http://www.w3.org/2001/XMLSchema#date' in details.datatypes %}
                                <option value="date">{{ _('Date') }}</option>
                            {% endif %}
                            {% if 'http://www.w3.org/2001/XMLSchema#gYearMonth' in details.datatypes %}
                                <option value="month">{{ _('Year and Month') }}</option>
                            {% endif %}
                            {% if 'http://www.w3.org/2001/XMLSchema#gYear' in details.datatypes %}
                                <option value="year">{{ _('Year') }}</option>
                            {% endif %}
                        </select>
                        <label for="{{ unique_id_base }}_date_type">{{ _('Select Date Type') }}</label>
                        <div class="invalid-feedback w-75"></div>
                    </div>

                    <!-- Date input -->
                    {% if 'http://www.w3.org/2001/XMLSchema#date' in details.datatypes %}
                        <div class="date-input-container mb-2 w-75 d-none">
                            <input type="date" class="form-control date-input"
                                id="{{ unique_id_base }}_date"
                                name="{{ unique_id_base }}"
                                data-date-type="date"
                                data-predicate-uri="{{ details.uri }}"
                                data-predicate-label="{{ details.displayName }}"
                                data-depth="{{ depth }}"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#date"
                                {% if 'supportsSearch' in details %}
                                    data-supports-search="{{ details.supportsSearch }}"
                                {% endif %}
                                placeholder="{{ label_text }}"
                                {{ 'required' if details.min and details.min > 0 }}
                                {% if 'minCharsForSearch' in details %}
                                    data-min-chars-for-search="{{ details.minCharsForSearch }}"
                                {% endif %}
                                {% if 'searchTarget' in details %}
                                    data-search-target="{{ details.searchTarget }}"
                                {% endif %}>
                            <div class="invalid-feedback w-75"></div>
                        </div>
                    {% endif %}

                    <!-- Month input -->
                    {% if 'http://www.w3.org/2001/XMLSchema#gYearMonth' in details.datatypes %}
                        <div class="date-input-container mb-2 w-75 d-none">
                            <input type="month" class="form-control date-input"
                                id="{{ unique_id_base }}_month"
                                name="{{ unique_id_base }}"
                                data-date-type="month"
                                data-predicate-uri="{{ details.uri }}"
                                data-predicate-label="{{ details.displayName }}"
                                data-depth="{{ depth }}"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#gYearMonth"
                                {% if 'supportsSearch' in details %}
                                    data-supports-search="{{ details.supportsSearch }}"
                                {% endif %}
                                placeholder="{{ label_text }}"
                                {{ 'required' if details.min and details.min > 0 }}
                                {% if 'minCharsForSearch' in details %}
                                    data-min-chars-for-search="{{ details.minCharsForSearch }}"
                                {% endif %}
                                {% if 'searchTarget' in details %}
                                    data-search-target="{{ details.searchTarget }}"
                                {% endif %}>
                            <div class="invalid-feedback w-75"></div>
                        </div>
                    {% endif %}

                    <!-- Year input -->
                    {% if 'http://www.w3.org/2001/XMLSchema#gYear' in details.datatypes %}
                        <div class="date-input-container mb-2 w-75 d-none">
                            <input type="number" class="form-control date-input"
                                id="{{ unique_id_base }}_year"
                                name="{{ unique_id_base }}"
                                data-date-type="year"
                                data-predicate-uri="{{ details.uri }}"
                                data-predicate-label="{{ details.displayName }}"
                                data-depth="{{ depth }}"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#gYear"
                                {% if 'supportsSearch' in details %}
                                    data-supports-search="{{ details.supportsSearch }}"
                                {% endif %}
                                placeholder="{{ label_text }}"
                                min="1000" max="9999"
                                {{ 'required' if details.min and details.min > 0 }}
                                {% if 'minCharsForSearch' in details %}
                                    data-min-chars-for-search="{{ details.minCharsForSearch }}"
                                {% endif %}
                                {% if 'searchTarget' in details %}
                                    data-search-target="{{ details.searchTarget }}"
                                {% endif %}>
                            <div class="invalid-feedback w-75"></div>
                        </div>
                    {% endif %}
                </div>
                {% if not details.min > 0 %}
                    <button data-repeater-delete type="button" class="btn btn-sm repeater-delete-btn btn-outline-danger">
                        <i class="bi bi-trash me-1"></i> {{ _('Delete') }}
                    </button>
                {% endif %}
            </div>
        {% else %}
            <div class="d-flex flex-row justify-content-between align-items-start newEntityPropertyContainer w-100">
                {% if details.inputType == "textarea" %}
                    <div class="position-relative w-75">
                        <textarea 
                            class="form-control"
                            id="{{ unique_id_base }}_{{ index if index is not none else 'template' }}"
                            name="{{ unique_id_base }}_{{ index if index is not none else 'template' }}"
                            data-predicate-uri="{{ details.uri }}"
                            data-predicate-label="{{ details.displayName }}"
                            data-depth="{{ depth }}"
                            {% if details.conditions %}
                                data-conditions='{{ details.conditions | tojson | safe }}'
                            {% endif %}
                            {% if 'supportsSearch' in details %}
                                data-supports-search="{{ details.supportsSearch }}"
                            {% endif %}
                            {% if 'minCharsForSearch' in details %}
                                data-min-chars-for-search="{{ details.minCharsForSearch }}"
                            {% endif %}
                            {% if 'searchTarget' in details %}
                                data-search-target="{{ details.searchTarget }}"
                            {% endif %}
                            placeholder="{{ label_text }}"
                            {% if not is_template and details.min and details.min > 0 %}
                                required
                            {% endif %}
                            {% if details.datatypes and details.datatypes | length %}
                                data-datatypes="{{ details.datatypes | join(',') }}"
                            {% endif %}
                            rows="5"
                        ></textarea>
                        <div class="invalid-feedback"></div>
                    </div>
                {% else %}
                    <div class="position-relative w-75">
                        <input 
                            type="{{ details.inputType or 'text' }}"
                            class="form-control"
                            id="{{ unique_id_base }}_{{ index if index is not none else 'template' }}"
                            name="{{ unique_id_base }}_{{ index if index is not none else 'template' }}"
                            data-predicate-uri="{{ details.uri }}"
                            data-predicate-label="{{ details.displayName }}"
                            data-depth="{{ depth }}"
                            {% if details.conditions %}
                                data-conditions='{{ details.conditions | tojson | safe }}'
                            {% endif %}
                            {% if 'supportsSearch' in details %}
                                data-supports-search="{{ details.supportsSearch }}"
                            {% endif %}
                            {% if 'minCharsForSearch' in details %}
                                data-min-chars-for-search="{{ details.minCharsForSearch }}"
                            {% endif %}
                            {% if 'searchTarget' in details %}
                                data-search-target="{{ details.searchTarget }}"
                            {% endif %}
                            placeholder="{{ label_text }}"
                            {% if not is_template and details.min and details.min > 0 %}
                                required
                            {% endif %}
                            {% if details.datatypes and details.datatypes | length %}
                                data-datatypes="{{ details.datatypes | join(',') }}"
                            {% endif %}
                            {% if details.inputType == "number" %}
                                step="any"
                            {% endif %}
                        >
                        <div class="invalid-feedback"></div>
                    </div>
                {% endif %}
                {% if not details.min > 0 %}
                    <button data-repeater-delete type="button" class="btn btn-sm repeater-delete-btn btn-outline-danger">
                        <i class="bi bi-trash me-1"></i> {{ _('Delete') }}
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_form_field(entity_type, prop, details, form_fields, depth=0, max_depth=5, is_template=False) %}
    {% if depth <= max_depth %}
        {% set namespace_render_form_field.counter = namespace_render_form_field.counter + 1 %}
        {% set unique_id_base = (entity_type, details.subjectShape) | human_readable_class | replace(" ", "_") + "_" + details.displayName | replace(" ", "_") | string + "_" + namespace_render_form_field.counter | string  %}

        <div data-repeater-list="{{ unique_id_base }}" data-class="{{ details.entityType }}" data-object-class="{{ details.objectClass }}" data-max-items="{{ details.max }}" data-min-items="{{ details.min }}"
            {% if details.orderedBy %}data-ordered-by="{{ details.orderedBy }}"{% endif %}
            data-uri="{{ details.uri }}" data-depth="{{ depth }}" data-shape="{{ details.nodeShape or '' }}"
            data-container-display-name="{{ details.displayName }}"
            data-display-name="{{ details.displayName }}"
            {% if details.or %}data-skip-collect="true"{% endif %}>
            <!-- Template nascosto per elementi opzionali -->
            {{ render_repeater_item(entity_type, prop, details, form_fields, depth, unique_id_base, is_template=True, max_depth=max_depth) }}

            <!-- Pulsante per aggiungere nuovi elementi -->
            <div class="my-3 text-start" data-repeater-create>
                <button type="button" class="add-button {% if details.min > 0 %}initial-structure-add{% endif %}">
                    <i class="bi bi-plus-circle"></i>
                    {{ _("Add %(element_type)s", element_type=details.displayName) }}
                </button>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_triple(triple, subject, externalEntity, isDraggable, object, orderedBy, unique_id, grouped_triples_data, display_name, object_class) %}
    {% set shape = grouped_triples_data.get('shape') %}
    {% set intermediate_relation = grouped_triples_data.get('intermediateRelation', {}) %}
    {% set target_entity_type = intermediate_relation.get('targetEntityType') if intermediate_relation else None %}
    {% set is_virtual = grouped_triples_data.get('is_virtual', False) %}
    <div data-repeater-item class="input-group d-flex align-items-center property-value {{ 'draggable' if isDraggable else '' }}" 
        data-subject-id="{{ subject }}" 
        data-property-id="{{ triple[1] }}" 
        data-old-object-id="{{ object|e }}" 
        data-ordered_by="{{ orderedBy }}"
        data-shape="{{ shape }}"
        data-depth="0"
        data-is-virtual="{{is_virtual}}">
        <div class="tripleObject flex-grow-1 d-flex flex-row justify-content-between">
            {% if externalEntity %}
                {% if isDraggable %}
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-baseline w-100 drag-handle">
                            <span class="me-2 d-none">☰</span>
                            <h6 class="flex-grow-1 form-label d-none" data-original-text="{{ display_name }}">{{ display_name }}</h6>
                        </div>
                        <span style="margin-left: .75rem;">
                            {% set entity_classes = [target_entity_type if target_entity_type else object_class] %}
                            <a href="{{url_for('entity.about', subject=externalEntity)}}" 
                            class="draggable-entity-link"
                            data-bs-toggle="tooltip" 
                            data-bs-placement="top" 
                            title="{{_('Redirection to the entity %(entity)s', entity=triple[2])}}">
                                {{ triple[2] }}
                            </a>
                        </span>
                    </div>
                {% else %}
                    <span style="margin-left: .75rem;">
                        {% set entity_classes = [target_entity_type if target_entity_type else object_class] %}
                        <a href="{{url_for('entity.about', subject=externalEntity)}}"
                           class="draggable-entity-link"
                           data-bs-toggle="tooltip" 
                           data-bs-placement="top" 
                           title="{{_('Redirection to the entity %(entity)s', entity=triple[2])}}">
                            {{ triple[2] }}
                        </a>
                    </span>
                {% endif %}
            {% else %}
                {% if shacl and triple[1] in mandatory_values and object in mandatory_values[triple[1]] %}
                    <div class="d-flex align-items-baseline">
                        <p style="margin-left: 0.75rem">{{ triple[2] }}</p>
                        <i class="bi bi-question-circle-fill ms-2 text-info" 
                           data-bs-toggle="tooltip" 
                           data-bs-placement="right"
                           title="{{ _('This property has a mandatory value that cannot be modified') }}"></i>
                        <input type="hidden" 
                            name="mandatory_value_{{ unique_id }}" 
                            data-value="{{ triple[2]|safe }}"
                            data-predicate-uri="{{ triple[1] }}"
                            data-mandatory-value="true"
                            data-skip-collect="true">
                    </div>
                {% elif shacl and optional_values[triple[1]] %}
                    <div class="w-75">
                        <select name="new_value" class="form-select editable-select d-none">
                            {% for value in optional_values[triple[1]] %}
                                <option value="{{ value }}" {% if value == triple[2] %}selected{% endif %}>
                                    {% if triple[1] == 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type' %}
                                        {{ (value, grouped_triples_data.get('subjectShape')) | human_readable_class }}
                                    {% else %}
                                        {{ value | human_readable_predicate((grouped_triples_data.get('subjectClass'), grouped_triples_data.get('subjectShape'))) }}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                        <span class="select-value-display" id="display_value_{{ unique_id }}" style="margin-left: .75rem;">
                            {% if triple[1] == 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type' %}
                                {{ (triple[2], grouped_triples_data.get('subjectShape')) | human_readable_class }}
                            {% else %}
                                {{ triple[2] | human_readable_predicate((grouped_triples_data.get('subjectClass'), grouped_triples_data.get('subjectShape'))) }}
                            {% endif %}
                        </span>
                    </div>
                {% elif 'http://www.w3.org/2001/XMLSchema#date' in datatypes.get(triple[1], []) or 'http://www.w3.org/2001/XMLSchema#gYearMonth' in datatypes.get(triple[1], []) or 'http://www.w3.org/2001/XMLSchema#gYear' in datatypes.get(triple[1], []) %}
                    <div class="date-input-group" data-original-value="{{ triple[2] }}">
                        <div class="form-floating mb-2 w-75 date-type-selector-container d-none">
                            <select class="form-control date-type-selector"
                                    id="{{ unique_id }}_date_type"
                                    name="{{ unique_id }}_date_type"
                                    data-allowed-datatypes="{{ datatypes.get(triple[1], [])|join(',') }}">
                                {% if 'http://www.w3.org/2001/XMLSchema#date' in datatypes.get(triple[1], []) %}
                                    <option value="date" {% if triple[2]|length == 10 %}selected{% endif %}>{{ _('Date') }}</option>
                                {% endif %}
                                {% if 'http://www.w3.org/2001/XMLSchema#gYearMonth' in datatypes.get(triple[1], []) %}
                                    <option value="month" {% if triple[2]|length == 7 %}selected{% endif %}>{{ _('Year and Month') }}</option>
                                {% endif %}
                                {% if 'http://www.w3.org/2001/XMLSchema#gYear' in datatypes.get(triple[1], []) %}
                                    <option value="year" {% if triple[2]|length == 4 %}selected{% endif %}>{{ _('Year') }}</option>
                                {% endif %}
                            </select>
                            <label for="{{ unique_id }}_date_type">{{ _('Select Date Type') }}</label>
                            <div class="invalid-feedback w-75"></div>
                        </div>
                        
                        <div class="date-input-container d-none w-75">
                            <input type="date" class="form-control editable-field date-input"
                                data-date-type="date"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#date"
                                {% if triple[2]|length == 10 %}value="{{ triple[2] }}"{% endif %}
                                id="new_value_{{ unique_id }}_date"
                                {% if 'supportsSearch' in details %}
                                    data-supports-search="{{ details.supportsSearch }}"
                                {% endif %}
                                {% if 'minCharsForSearch' in details %}
                                    data-min-chars-for-search="{{ details.minCharsForSearch }}"
                                {% endif %}
                                {% if 'searchTarget' in details %}
                                    data-search-target="{{ details.searchTarget }}"
                                {% endif %}
                                id="new_value_{{ unique_id }}_date">
                        </div>
                        <div class="date-input-container d-none w-75">
                            <input type="month" class="form-control editable-field date-input"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#gYearMonth"
                                data-date-type="month"
                                {% if triple[2]|length == 7 %}value="{{ triple[2] }}"{% endif %}
                                id="new_value_{{ unique_id }}_month"
                                {% if 'supportsSearch' in details %}
                                    data-supports-search="{{ details.supportsSearch }}"
                                {% endif %}
                                {% if 'minCharsForSearch' in details %}
                                    data-min-chars-for-search="{{ details.minCharsForSearch }}"
                                {% endif %}
                                {% if 'searchTarget' in details %}
                                    data-search-target="{{ details.searchTarget }}"
                                {% endif %}>
                        </div>
                        <div class="date-input-container d-none w-75">
                            <input type="number" class="form-control editable-field date-input"
                                data-datatypes="http://www.w3.org/2001/XMLSchema#gYear" 
                                data-date-type="year"
                                {% if triple[2]|length == 4 %}value="{{ triple[2] }}"{% endif %}
                                id="new_value_{{ unique_id }}_year"
                                min="1000" max="9999"
                                {% if 'supportsSearch' in details %}
                                    data-supports-search="{{ details.supportsSearch }}"
                                {% endif %}
                                {% if 'minCharsForSearch' in details %}
                                    data-min-chars-for-search="{{ details.minCharsForSearch }}"
                                {% endif %}
                                {% if 'searchTarget' in details %}
                                    data-search-target="{{ details.searchTarget }}"
                                {% endif %}>
                        </div>
                        <div class="date-display-container">
                            <span class="date-display">{{ triple[2] }}</span>
                        </div>
                    </div>
                {% else %}
                    {% set key = (triple[1], (entity_type, entity_shape), shape) %}
                    {% if predicate_details_map.get(key) %}
                        {% set details = predicate_details_map.get(key) %}
                        {% if details.inputType == "textarea" %}
                            <div class="textarea-input-group w-75">
                                <div class="textarea-display-container">
                                    <div class="textarea-display">{{ triple[2] }}</div>
                                </div>
                                <div class="textarea-input-container d-none">
                                    <textarea 
                                        class="form-control editable-field"
                                        id="new_value_{{ unique_id }}"
                                        rows="5"
                                    >{{ triple[2] }}</textarea>
                                </div>
                            </div>
                        {% else %}
                            <input 
                                type="{{ details.inputType or 'text' }}"
                                class="form-control editable-field w-75"
                                value="{{ triple[2] }}"
                                readonly
                                id="new_value_{{ unique_id }}"
                                {% if details.inputType == "number" %}
                                    step="any"
                                {% endif %}
                            >
                        {% endif %}
                    {% else %}
                        {{ update_form.new_value(class="form-control editable-field w-75", value=triple[2], readonly=true, id="new_value_" ~ unique_id) }}
                    {% endif %}
                {% endif %}
            {% endif %}

            <div class="align-self-start">
                <div class="d-flex flex-column flex-sm-row">
                    {% if externalEntity %}
                        {% set entity_classes = [target_entity_type if target_entity_type else object_class] %}                        
                        <div class="mb-2 mb-sm-0">
                            <a class="btn btn-sm btn-outline-primary redirection-btn" 
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="{{_('Redirection to the entity %(entity)s', entity=triple[2])}}"
                            href="{{ url_for('entity.about', subject=externalEntity) }}">
                                <i class="bi bi-arrow-right-square me-1"></i> {{ _('Visit') }}
                            </a>
                        </div>
                    {% endif %}
                    {% if shacl and not (triple[1] not in can_be_deleted or (triple[1] in mandatory_values and triple[2] in mandatory_values[triple[1]])) %}
                        <div class="d-flex align-items-center">
                            <button class="btn btn-sm btn-outline-danger delete-button ms-0 ms-sm-2"
                                    style="display: none;"
                                    data-subject="{{ subject }}" 
                                    data-predicate="{{ triple[1] }}" 
                                    data-object="{{ triple[2] }}">
                            <i class="bi bi-trash me-1"></i> {{ _('Delete') }}
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_custom_properties_form() %}
    <div id="custom-properties"></div>
    <div class="my-3 text-start">
        <button type="button" id="add-property" class="add-button">
            <i class="bi bi-plus-circle"></i>{{ _('Add Property') }}
        </button>
    </div>
{% endmacro %}
