<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}" alt="Go to the home">{{ config.APP_TITLE }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="home-link" aria-current="page" href="{{ url_for('index') }}" alt="{{_('Go to the home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="catalogue-link" aria-current="page" href="{{ url_for('catalogue') }}" alt="{{_('Go to the catalogue')}}">{{_('Catalogue')}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="create-entity-link" aria-current="page" href="{{ url_for('create_entity') }}" alt="{{_('Add New Record')}}">{{_('Add New Record')}}</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="logout-link" href="{{ url_for('logout') }}">{{ _('Logout') }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="login-link" href="{{ url_for('login_page') }}">{{ _('Login') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function() {
        function setActiveNavLink() {
            var currentPath = window.location.pathname;
            
            $('.nav-link').removeClass('active');

            if (currentPath === '/') {
                $('#home-link').addClass('active');
            } else if (currentPath.startsWith('/catalogue')) {
                $('#catalogue-link').addClass('active');
            } else if (currentPath.startsWith('/create-entity')) {
                $('#create-entity-link').addClass('active');
            } else if (currentPath.startsWith('/endpoint')) {
                $('#endpoint-link').addClass('active');
            } else if (currentPath === '/login') {
                $('#login-link').addClass('active');
            } else if (currentPath === '/logout') {
                $('#logout-link').addClass('active');
            }
        }

        setActiveNavLink();
    });
</script>