{# SPDX-FileCopyrightText: 2026 Arcangelo Massari <arcangelo.massari@unibo.it> #}
{# SPDX-License-Identifier: ISC #}

<button type="button" id="validation-summary-link" class="btn btn-link" hidden
        aria-controls="validation-summary">{{ _('Errors') }} (<span>0</span>)</button>
