{# SPDX-FileCopyrightText: 2026 Arcangelo Massari <arcangelo.massari@unibo.it> #}
{# SPDX-License-Identifier: ISC #}

<section id="validation-summary" class="validation-summary" tabindex="-1"
         aria-labelledby="validation-summary-title" hidden>
    <h2 id="validation-summary-title" class="h5">{{ _('Check the following fields') }}</h2>
    <div class="validation-errors"></div>
</section>
