{% extends "_base.jinja" %}

{% block content %}

<style>
    #timeline-container {
        width: 100%;
        height: 70vh;
    }
    .tl-text-content p {
        margin-bottom: 5px;
    }
    .modifications h4 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 1em;
        font-weight: bold;
    }
    .modifications ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 10px;
    }
    .modifications li {
        margin-bottom: 3px;
    }
    .tl-timeline a.view-version {
        color: #0d6efd;
        text-decoration: none;
    }
    .tl-timeline a.view-version:hover {
        color: white;
    }
    .tl-slide {
        padding: 2rem 0;
    }
    .tl-timeline .tl-slide-titleslide .tl-headline-date,
    .tl-timeline .tl-slide-titleslide .tl-headline {
        font-size: 32px !important;
        line-height: 36px !important;
    }
    .tl-timeline .tl-slide-titleslide .tl-text .tl-text-content p {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .tl-text-content .orcid-attribution img,
    .tl-text-content .zenodo-attribution img {
        vertical-align: middle;
        margin-right: 4px;
    }
    .tl-text-content .text-muted {
        color: #6c757d !important;
        font-size: 0.9em;
    }
    .tl-text-content .small {
        font-size: 85%;
    }
    .tl-skinny .tl-slidenav-next .tl-slidenav-icon {
        margin-left: 0;
    }
    .tl-slider-container-mask {
        background-color: rgb(250, 250, 250);
    }
</style>

<div id="breadcrumb-root"></div>

<h2 className="mb-4 word-wrap">Version history for <em>{{ timeline_data.entityLabel }}</em></h2>

<div id="entity-timeline-root"></div>

{% endblock %}

{% block react_scripts %}
<script>
    window.timelineData = {{ timeline_data|tojson }};
</script>
<script src="{{ url_for('static', filename='dist/timeline.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='dist/navigation.bundle.js') }}"></script>
{% endblock %}